/* This is our css for endangered park which will be used to style our page*/
body {
  margin:0px;
  background-color:#a19e97;
  background: url('../img/imgBG3.png') repeat fixed;
}


.head {
    text-align: center;
    font-size: 50px;
    font-family: 'Marhey', cursive;

}

.center{
  display:block;
  margin:auto 0px;
}

div.navbar {
  border-radius: 20px;
  border:10px solid black;
  display:table;
  margin: 0px auto 0px auto;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #eba134;
}

.grid{
  display:grid;
  grid-template-columns: auto auto;
  text-align: center;
  padding:20px;
  grid-gap:15px;
}

[class *= "col"]{
  background-color: grey;
  border:10px solid black;
  padding:0px;
  border-radius: 15px;
}

[class *= "col"]:hover{
  border: 5px dashed #ffad1e;
}


[class*="col"] img{
  width:100%;
}


/* this hides our image */
.hide{
  display:none;
}
/* layouot responsive */
@media screen and (max-width:820px){
  .grid{
    grid-template-columns: auto;
  }
}


/* content for our bird friend */

.con{
  display:none;
  max-height:600px;
}
.con.here{
  display:block;
  font-family: 'Marhey', cursive;
}

/* 2 */
.con2{
  display:none;
  max-height:600px;
}
.con2.here{
  display:block;
  font-family: 'Marhey', cursive;
}

/* 3 */
.con3{
  display:none;
  max-height:600px;
}
.con3.here{
  display:block;
  font-family: 'Marhey', cursive;
}

/* 4 */
.con4{
  display:none;
  max-height:600px;
}
.con4.here{
  display:block;
  font-family: 'Marhey', cursive;
}

/* 5 */

.con5{
  display:none;
  max-height:600px;
}
.con5.here{
  display:block;
  font-family: 'Marhey', cursive;
}

/* 6 */

.con6{
  display:none;
  max-height:600px;
}
.con6.here{
  display:block;
  font-family: 'Marhey', cursive;
}

#output{
  display:grid;
  font-family: 'Marhey', cursive;
  grid-template-columns: auto;
  grid-gap:5em;
  padding:20px;
  text-align: center;
}

#output .div{
  background-color: grey;
  border:10px solid black;
}


#list {
  border:5px solid black;
  border-radius: 20px;
  text-align: left;
  margin:20px;
  padding:20px;
  column-width: 200px;
}

.div#do {
  border:5px solid black;
  border-radius: 20px;
  text-align: center;
  margin:20px;
  padding:20px;

}

.div iframe{
  border:5px solid black;
  border-radius: 20px;
}


/* style some div using library */

#flex{
  padding:20px;
  display:flex;
  justify-content: space-between;
}

#flex a{
  /*Styling the links inside of the navbar */
text-decoration:none;
font-size:30px;
color:white;
/* Keep the spacing consistant between the links inside the navbar*/
padding:20px;
}

#flex a:hover{
  background-color:#a19e97;
  color:black;
  border-radius:10px;
  border:5px solid black;

}
